<h1 mat-dialog-title>CANDY CON Controller Parts List</h1>
<div mat-dialog-content style="overflow-x: hidden;">

  <div style="margin-top: 5px;">
    <div class="header-bar">
      <h4>
        <img class="header-icon" src="assets/faceplate.svg" alt="Faceplate icon">
        CANDY CON Base Unit
      </h4>
    </div>
    <hr />
    <div class="part-container">
      <img class="part-image" src="assets/candycon_controller.png" style="margin-top: 5px !important; margin-bottom: 35px !important; margin-left: 20px !important; width: 150px !important; max-width: 150px !important" />
      <div class="right-align">
        <a href="https://www.gamestop.com/gaming-accessories/controllers/nintendo-switch/products/candy-con-wireless-base-controller/402221.html" target="_blank"><button class="view-button">PURCHASE BASE UNIT</button></a>
      </div>
    </div>
  </div>

  <div>
    <div class="header-bar">
      <h4>
        <img class="header-icon" src="assets/faceplate.svg" alt="Faceplate icon">
        {{faceplateData!.name}} - {{faceplateData!.partColor}}
      </h4>
    </div>
    <hr />
    <div class="part-container">
      <img class="part-image" [src]="faceplateData!.imageUrls[0]" width="200" />
      <div class="right-align">
        <a href="{{faceplateData!.productUrl}}" target="_blank"><button class="view-button">PURCHASE FACEPLATE</button></a>
      </div>
    </div>
  </div>

  <div>
    <div class="header-bar">
      <h4>
        <img class="header-icon" src="assets/joystick.svg" alt="Faceplate icon">
        {{leftThumbstickData!.name}} - {{leftThumbstickData!.partColor}}
      </h4>
    </div>
    <hr />
    <div class="part-container">
      <img class="part-image" [src]="leftThumbstickData!.imageUrls[0]" width="180" />
      <a href="{{leftThumbstickData!.productUrl}}" target="_blank"><button class="view-button">PURCHASE JOYSTICK</button></a>
    </div>
  </div>

  <div *ngIf="rightThumbstickData!.partColor != leftThumbstickData!.partColor">
    <div class="header-bar">
      <h4>
        <img class="header-icon" src="assets/joystick.svg" alt="Faceplate icon">
        {{rightThumbstickData!.name}} - {{rightThumbstickData!.partColor}}
      </h4>
    </div>
    <hr />
    <div class="part-container">
      <img class="part-image" [src]="rightThumbstickData!.imageUrls[0]" width="180" />
      <a href="{{rightThumbstickData!.productUrl}}" target="_blank"><button class="view-button">PURCHASE JOYSTICK</button></a>
    </div>
  </div>

  <div>
    <div class="header-bar">
      <h4>
        <img class="header-icon" src="assets/dpad.svg" alt="Faceplate icon">
        {{dpadData!.name}} - {{dpadData!.partColor}}
      </h4>
    </div>
    <hr />
    <div class="part-container">
      <img class="part-image" [src]="dpadData!.imageUrls[0]" width="200" />
      <a href="{{dpadData!.productUrl}}" target="_blank"><button class="view-button">PURCHASE DPADS</button></a>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</div>

<div>
  <a href="https://www.gamestop.com/search/?q=CANDY+CON+Player+Ready&lang=default&start=0&sz=20" target="_blank"><img class="overflow-image mat-elevation-z5" src="assets/PLAYER_READY_PACKS.png"/></a>
</div>
<div>
  <a href="https://www.gamestop.com/search/?q=CANDY+CON+COMBO+PACK&lang=default&start=0&sz=20" target="_blank"><img class="overflow-image mat-elevation-z5" src="assets/COMBO_PACKS_2.png" style="margin-top: 200px;"/></a>
</div>
