.part-image {
  margin-top: -50px !important;
  margin-left: 0px !important;
  filter: drop-shadow(0 0 0.75rem black);
}

.header-icon {
    margin-right: 5px;
    margin-top: -2px;
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width:fit-content;
}

.header-bar {
  background-color: rgba(255,255,255,.2);
  border-radius: 10px 10px 0px 0px;
  padding: 5px 5px 1px 5px;
  margin-bottom: -12px !important;
}

hr {
  border: none !important;
  height: 2px !important;
  background-color: white !important;
}

/// Keep image and link in line
.part-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Puts space between the image and the button */
  flex-wrap: nowrap;
}

.right-align {
  margin-left: auto; /* Pushes the right-align div to the right */
}

.part-image {
  width: auto; /* Default width is automatic */
  max-width: 200px; /* Ensures image does not exceed 200px */
  height: auto; /* Maintains aspect ratio */
  flex-shrink: 1; /* Allows the image to shrink if necessary */
}

.view-button {
  white-space: nowrap; /* Prevents text inside the button from wrapping */
  margin-top: -50px;
}

a {
  text-decoration: none; /* Optional: Removes underline from links */
  color: inherit; /* Optional: Ensures link color matches the surrounding text */
}
///

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  text-align: center;
  font-size: 28px !important;
  text-shadow: 1px 1px 1px rgba(255, 0, 157, 1);
}


button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.view-button {
  background-color: transparent;
  text-shadow: 4px 4px 2px rgba(255, 0, 157, 1);
  float: inline-end;
  font-size: 32px;
  color: white;
  border: none;
  width: fit-content;
  height: 70px;
  line-height: .9;
}

.overflow-image {
  position: absolute;
  top: -216px; /* Adjust as necessary */
  left: -25px; /* Adjust as necessary */
  z-index: 1000; /* Ensure it's above the dialog but below modal overlay if needed */
  transform: scale(.3);
  border-radius: 50px;
  filter: drop-shadow(20px 20px 0.45rem black);
}

@media (max-width: 1800px) {
  .overflow-image {
    position: absolute;
    top: -235px; /* Adjust as necessary */
    left: -75px; /* Adjust as necessary */
    z-index: 1000; /* Ensure it's above the dialog but below modal overlay if needed */
    transform: scale(.25);
  }
}

@media (max-width: 1600px) {
  .overflow-image {
    position: absolute;
    top: -238px; /* Adjust as necessary */
    left: -110px; /* Adjust as necessary */
    z-index: 1000; /* Ensure it's above the dialog but below modal overlay if needed */
    transform: scale(.225);
  }
}

@media (max-width: 1450px) {
  .overflow-image {
    position: absolute;
    top: -250px; /* Adjust as necessary */
    left: -150px; /* Adjust as necessary */
    z-index: 1000; /* Ensure it's above the dialog but below modal overlay if needed */
    transform: scale(.18);
  }
}

@media (max-width: 1350px) {
  .overflow-image {
    display: none;
    position: absolute;
    top: -200px; /* Adjust as necessary */
    left: -25px; /* Adjust as necessary */
    z-index: 1000; /* Ensure it's above the dialog but below modal overlay if needed */
    transform: scale(0);
  }
}


@media (max-width: 650px) {
  .header-bar h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: fit-content;
    text-align: center;
  }

  .view-button {
    font-size: 26px;
    margin-right: 10px;
  }
}

@media (max-width: 580px) {
  .header-bar h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: fit-content;
    text-align: center;
  }

  .part-container img {
    transform: scale(.8);
  }

  .view-button {
    font-size: 22px;
    margin-right:20px;
  }
}

@media (max-width: 540px) {
  .header-bar h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: fit-content;
    text-align: center;
  }

  .part-container img {
    transform: scale(.6);
    margin-left: -20px !important;
  }

  .view-button {
    font-size: 18px;
    margin-left: -30px;
  }
}

@media (max-width: 500px) {
  .header-bar h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: fit-content;
    text-align: center;
  }

  .part-container img {
    transform: scale(.6);
    margin-left: -30px !important;
  }

  .view-button {
    font-size: 18px;
    margin-left: -40px;
  }
}

@media (max-width: 472px) {
  .header-bar h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: fit-content;
    text-align: center;
  }

  .part-container img {
    transform: scale(.6);
    margin-left: -60px !important;
  }

  .view-button {
    font-size: 16px;
    margin-left: -50px;
  }
}

@media (max-width: 472px) {
  .header-bar h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: fit-content;
    text-align: center;
  }

  .part-container img {
    transform: scale(.5) !important;
    margin-left: -60px !important;
  }

  .view-button {
    font-size: 16px;
    margin-left: -50px;
  }
}

